In [1]:
import pandas as pd

In [2]:
gradebook = pd.read_csv('gradebook1.csv')

In [3]:
gradebook

,ID,firstname,lastname,email,phone,city,score,department
0,1,Ann,P,qhishf@qq.com,7865441,A,100,MATH
1,2,Kevin,P,4837hi@163.com,8966554,B,98,Statistics
2,3,Stella,P,ien92gt@gmail.com,8765441,A,68,Statistics
3,4,Ben,P,jisnbfu@qq.com,98326,B,80,Statistics
4,5,Victoria,P,jbbd1@163.com,987650,A,71,Statistics
5,6,Tom,A,whushubeubufosb@qq.com,97245672,B,77,Statistics
6,7,Jerry,P,477777@qq.com,44686,A,89,Statistics
7,8,Bob,N,19jsihf@qq.com,64326,B,99,Statistics
8,9,Justin,P,sjiqncu@qq.com,8765432,A,95,Statistics
9,10,Chen,N,ijai82y@qq.com,99089479,B,88,Statistics

In [17]:
gb = open('gradebook1.csv').readlines()

In [25]:
gb[3].split(',')

['3',
 'Stella',
 'P',
 ' ien92gt@gmail.com',
 '8765441',
 ' A',
 '68',
 'Statistics\n']

In [27]:
studentDict = {}
for student in gb[1:]:
#     print(student[0])
    student = student.split(',')
    studentDict[student[0]] = student[1:]
    
studentDict["3"]

['Stella', 'P', ' ien92gt@gmail.com', '8765441', ' A', '68', 'Statistics\n']

In [39]:
arr = list(range(100))

In [40]:
def binarysearch(arr, targetid):
    left, right = 0, len(arr) - 1
    
    while (left < right):
        mid = (left + right) // 2
        if mid == targetid:
            return mid
        elif mid < targetid:
            left = mid + 1
        else:
            right = mid - 1
    
    return left

In [47]:
arr2 = list(range(1,20,2))
arr2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [62]:
# uncontinous array
def binarysearch2(arr, target):
    left, right = 0, len(arr) - 1
    
    while (left < right):
        mid = (left + right) // 2
        if arr[mid] == target:
            return arr[mid]
        elif arr[mid] < target:
            left = mid + 1
        else:
            right = mid - 1

    # if target is not in the array
    if arr[left] > target:
        return False
    if arr[right] < target:
        return False

    return arr[left]

In [63]:
binarysearch2(arr2, 6)

False

In [50]:
left = 0
right = 4
mid = (left + right) // 2
mid

2